asynctest>=0.12.3
black>=22.3.0
colorlog==4.6.2
coveralls
dacite==1.6.0
events>=0.3
flake8
govee_api_laggat
homeassistant
jinja2==2.11.3
markupsafe==2.0.1
pylint==2.6.0
pytest
pytest-asyncio
pytest-cov
pytest-homeassistant-custom-component==0.3.0
tox